@import "https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap";

/*      room list       */

.room-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.room-id,
.room-status {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}

.room-name {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 60%;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}
